body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 1.5em;
}

p {
    text-align: justify;
}

.bleu {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-align: center;
}

a {
    text-decoration: none;
}