/* style pour le premier site */


/* /* RESET DU STYLE */


/* Le reset permet de donner un comportement général, peu importe sur quel navigateur on se trouve  tous les élément se comporte de la meme maniére
le plus connu des resets est celui  d'Eric Meyer */

@charset "UTF-8";

/* reset simple  */


/* l'étoile signifie tout (all) */


/* tous les éléments sont taillés de façon plus intuitive, ils concerveront la taille que nous leur donnerons */

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* les typos */


/*  A COPIER COLLER POUR LA FONT-FAMILY :

font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;    
font-family: 'Berkshire Swash', cursive;    
font-family: 'Righteous', cursive;
font-family: 'Bad Script' */

body {
    background-image: url(../img/concrete-texture.png);
    font-family: 'Oswald', sans-serif;
}

.clear {
    clear: both;
}


/* Une façon de déclarer les couleurs en variable */

:root {
    --bleu--canard: #2980B9;
    --bleu-foncé: #2C3E50;
    --gris-clair: #aaa;
    --lavande: #89C;
    --vert: #10828C;
    --bleu-ciel: #6ACAFC;
    --blanc: #fff;
    --noir: #000;
    --vert-clair: #A6D6C3;
    --rouge-orangé: orangered;
    --gris-transparent: rgba(178, 178, 178, 0.178);
    --blanc-transparent: rgba(255, 255, 255, 0.255);
}


/* style pour tous les titres */

h1 {
    font-size: 40px;
    color: var(--bleu--canard);
    /* pour déclarer les couleurs de :root variable var(--nom de la couleur declarer--); */
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Anton', sans-serif;
}

h2 {
    font-size: 35px;
    color: var(--bleu-foncé);
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--gris-clair);
}

h2 i {
    color: var(--lavande);
    font-size: 150%;
}

h3 {
    font-style: 22px;
    color: var(--bleu-foncé);
    padding: 15px;
    text-shadow: 1px 1px 2px var(--gris-clair);
}

h4 {
    text-align: center;
    margin-top: 30px;
}

strong {
    font-weight: bold;
}


/* style header */

header {
    height: 175px;
    background-color: var(--bleu-foncé);
}

#logo {
    float: left;
    width: 25%;
    background: var(--bleu-foncé);
    padding: 15px;
    text-align: center;
}

#slogan {
    float: left;
    width: 50%;
    background: var(--bleu-foncé);
    padding-top: 50px;
}

#social i {
    background-color: var(--bleu-foncé);
    color: var(--bleu--canard);
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
}

header a {
    text-decoration: none;
}

nav {
    background-color: var(--bleu--canard);
    height: 70px;
    border-bottom: 8px solid var(--bleu-ciel);
    text-align: center;
    padding: 15px;
}

nav a {
    background: var(--bleu--canard);
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0;
    border: 2px solid var(--blanc);
    color: var(--bleu-foncé);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    transition: 0.5s;
    /* transition sur le a fonctionne avec le a:hover cette propriete permet de 
    controler la duree en seconde ou en milliseconde la durée avant affichage de l'animation avec le survol*/
}

nav a:hover {
    color: var(--blanc);
    background: var(--vert-clair);
}

.active {
    color: var(--rouge-orangé);
    background: var(--vert-clair);
}


/* les zones prncipales du site */

main {
    background-color: var(--gris-transparent);
    width: 1200px;
    margin: 0 auto;
}

aside {
    margin: 15px 0 auto 10px;
    min-height: 250px;
    background: var(--vert-clair);
    width: 20%;
    float: left;
    padding: 8px;
    text-align: center;
}

#accueil {
    float: left;
    width: 75%;
}

section {
    margin-top: 10px;
    padding: 20px;
}

footer {
    min-height: 100px;
    margin-top: 10px;
    background: var(--bleu--canard);
    color: var(--blanc);
    text-align: center;
}


/* le bouton */

button {
    font-size: 350%;
    background: transparent;
    border: none;
    color: var(--bleu-foncé);
    /* position du bouton */
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}


/* style pour la page 02_texte.html */

blockquote {
    font-family: 'Lemonada', cursive;
    padding-left: 150px;
    margin-bottom: 30px;
}

blockquote i {
    font-size: 300%;
    vertical-align: middle;
    color: var(--bleu-ciel);
}

blockquote strong {
    color: var(--bleu-foncé);
}


/* ici on demande a placer du contenu avant la balise cite */

cite::before {
    content: '<<';
    /* entre les guillemet de la propriete content on ecriera le contenu que l'on veut afficher */
}


/* ici on demande a placer du contenu apres la balise cite */

cite::after {
    content: '>>';
}


/* Le styles pour la page 03_selecteurs.html */

span {
    font-style: italic;
    color: yellow;
}


/* (*) {
    padding: 15px;/* l'etoile est le selecteur universel => elle selectionne tous les elements present sur la page */


/* } */


/* article:first-child => on parle ici de tous les elements articles qui sont le premier descendant d'un element */


/* article :first-child {
    background-color: #fff;
    ici on selection le premier enfant a l'interieur de l'article 
} */


/* ici on sélectionne d'abord le premier enfant (:first-child) a l'interieur du deuxieme article */

article:nth-of-type(2) :first-child {
    color: var(--rouge-orangé);
}


/* les selecteurs de classe */

.danger {
    background-color: var(--rouge-orangé);
    color: var(--blanc);
    padding: 15px;
}

.success {
    background-color: var(--vert);
    color: var(--blanc);
    padding: 15px;
}


/* les selecteurs d'identification */

#articleDeux {
    border: 1px solid var(--vert);
    padding: 10px;
    margin-bottom: 20px;
}


/* les selecteurs d'attribut */


/* quelque exemple d'attribut = class / id / title / href / src / alt / url / etc...
Les attributs sont les termes qui viennent apporter des precisions à nos balises */

a[title*='PSG'] {
    text-decoration: none;
    font-style: 25px;
}


/* * l'étoile avant le égal permet de dire que l'on veut viser tous les titles qui contiennent le terme 'psg' */


/* style pour la page 04_images.html */

.imageFond {
    background: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imageFond p {
    width: 75%;
    margin: 200px auto 250px auto;
    background-color: var(--blanc-transparent);
    padding: 20px;
    border-radius: 10px;
    font-size: 120%;
}


/* on cible image grace a l'attribut src et au chemin relatif */


/* [] uniquement pour les attribut */

img[src='img/toureiffel.jpg'] {
    margin: auto;
    display: block;
    /* display block permet de transformer des éléments inline (en ligne) en éléments block */
    padding: 30px;
    background-color: var(--blanc);
}


/*  */

.auCentre {
    text-align: center;
}

.imageGolden {
    margin: 20px;
    border: 5px solid var(--blanc);
    box-shadow: 4px 4px 4px var(--gris-transparent);
    transition: 3s;
    /* 4px horizontal 4px  vertical et 4px flou valeur -4px l'ombre de l'autre côté*/
}

.imageGolden:hover {
    transform: rotate(-7deg);
    border: 15px solid var(--blanc);
}

.rotation360:hover {
    transform: rotate(360deg);
}


/* style pour la page 05_position.html  */

.centre {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 187, 0);
    margin: 0 auto;
}

.absolute {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top: 30%;
    left: 10%;
}


/* top left bottom pour placer position absolute */

.relative {
    width: 500px;
    height: 500px;
    background-color: var(--rouge-orangé);
    position: relative;
}

.relative div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    right: 0;
}

.trente {
    width: 30%;
    background-color: yellow;
    color: orangered;
    padding: 10px 20px;
}

.cinquante {
    width: 50%;
    background-color: rgb(238, 157, 51);
    color: red;
    padding: 10px 20px;
}

.cent {
    width: 100%;
    color: black;
    background-color: red;
    padding: 10px 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
    float: left;
    text-align: center;
    font-size: 22px;
    padding: 30px;
}


/* .un,
.deux,
.trois,
.quatre {
    float: left;
}

.cinq {
    clear: both;
}

.cinq,
.six,
.sept {
    float: left;
}

.huit {
    clear: both;
}

.huit,
.neuf {
    float: left;
}

.dix {
    clear: both;
} */

.black {
    width: 100%;
    background-color: black;
    padding: 30px 40px;
}

.rouge {
    width: 25%;
    height: 250px;
    background-color: red;
}

.orange {
    width: 25%;
    height: 250px;
    background-color: orangered;
}

.orangeclair {
    width: 25%;
    height: 250px;
    background-color: orange;
}

.jaune {
    width: 25%;
    height: 250px;
    background-color: yellow;
}

.rouge,
.orange,
.orangeclair,
.jaune {
    float: left;
}


/* flexbox */

section .flex div {
    height: 150px;
    width: 150px;
    background-color: red;
    color: var(--blanc);
    font-size: 50px;
    margin: 10px;
    text-align: center;
}

section .flex {
    /* ici on demande a ce que le display soi en flex // element à placer sur le parent */
    display: flex;
    flex-direction: row-reverse;
    /* grace à l'association de display flex et flex direction row-reverse = direction du flex ranger (row) inverser 4 3 2 1*/
}


/* LE STYLE PAGE 06_zoning.html */


/* Zoning1 */

#zoning1 {
    background-color: #333;
    width: 800px;
    text-align: center;
    margin: auto;
    font-size: 1.7em;
    padding: 0;
    font-family: 'Berkshire Swash', cursive;
}

#zoning1 header {
    height: 70px;
    background-color: #f7f39a;
}

#zoning1 header p {
    font-size: 1.9em;
}

#zoning1 aside {
    padding: 0;
    margin: 0;
    height: 450px;
    width: 20%;
    float: left;
    background-color: #e0d501;
}

#zoning1 section {
    padding: 0;
    margin: 0;
    height: 450px;
    width: 80%;
    float: left;
    background-color: #faf8d1;
}


/* Zoning2 */

#zoning2 {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
    color: rgb(48, 10, 48);
    padding: 0;
    font-family: 'Bad script';
    border: 5px double rgb(173, 72, 173);
}

#zoning2 header {
    height: 70px;
    background-color: rgb(173, 72, 173);
}

#zoning2 header p {
    font-size: 1.5em;
}

#zoning2 aside {
    padding: 10px;
    margin: 0;
    width: 100px;
    height: 450px;
    width: 20%;
    float: left;
    background-color: violet;
}

#zoning2 #zoneDroite {
    padding: 10px;
    margin: 0;
    width: 100px;
    height: 450px;
    width: 20%;
    float: right;
    background-color: violet;
}

#zoning2 section {
    padding: 10;
    margin: 0;
    height: 450px;
    width: 60%;
    float: left;
    background-color: rgb(233, 175, 233);
}

#zoning2 footer {
    background-color: rgb(173, 72, 173);
    width: 795px;
    margin: 0;
    padding: 0;
    color: rgb(48, 10, 48);
}


/* zoning2
#zoning2
width: 810px;
margin: 0 auto;
text-align: center;
border: 5px double rgb(117, 59, 117);
padding: 0;


zoning2 aside 
width 100px
float left
background color violet
margin 0
height 400px

zoning2 section
float left
width 600px
height 400px 
background color violet
margin 0
color blanc

zoning2 footer
height 100px
width 800px
background color violet
margin 0
color noir

*/


/* style zoning 3 */

#zoning3 {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(235, 204, 209);
    padding: 0;
    font-family: 'Kaushan Script';
    font-size: 1.6em;
}

#zoning3 section {
    width: 400px;
    height: 400px;
    background-color: rgb(224, 161, 172);
    border-right: 2px solid rgb(163, 61, 78);
    margin: 0;
    float: right;
}

#zoning3 #droite {
    border: none;
}

#zoning3 footer {
    margin-top: 10px;
    background-color: rgb(163, 61, 78);
    color: black;
}


/*

#zoning3 {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(235, 204, 209);
    font-family: 'Kaushan Script';
    font-size: 1.6em;
    padding: 0;
}

#zoning #gauche {
    margin: 0;
    float: left;
    background color: couleur;
    width: 398px;
    height: 400px;
    border-right: 2px solid couleur;

#zoning #droite {
    margin: 0;
    float: left;
    background color: couleur;
    width: 400px;
    height: 400px;
}

#zoning footer {
    background color: couleur;
    margin-top: 20px;
}

*/


/* style zoning4 */

#zoning4 {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 0;
}

#zoning4 header {
    height: 100px;
    background-color: rgb(61, 61, 105);
    margin-bottom: 0;
}

#zoning4 nav {
    background-color: rgb(140, 140, 185);
    height: 60px;
    border: none;
}

#zoning4 section {
    margin: 25px 15px;
    background-color: rgb(68, 68, 94);
    height: 500px;
}

#zoning4 footer {
    background-color: rgb(45, 45, 66);
    color: black;
    height: 60px;
}

#zoning4 .heardernav {
    /* inline block permet de considerer que notre element est toujours un bloc mais en ligne il fait maintenant la largeur de son contenu */
    display: inline-block;
    background-color: white;
    color: grey;
    padding: 5px;
    margin-top: 15px;
}


/* style zoning 5 */

#zoning5 {
    width: 800px;
    margin: 0 auto;
    background-color: var(--bleu-ciel);
    text-align: center;
    color: white;
    padding: 0;
    font-size: 1.5em;
}

#zoning5 header {
    height: 100px;
    background-color: orange;
    text-transform: uppercase;
}

#zoning5 nav {
    height: 50px;
    background-color: yellow;
    text-transform: uppercase;
    border: none;
}

#zoning5 section {
    margin: 20px;
    padding: 0;
}

#zoning5 .un,
#zoning5 .deux,
#zoning5 .trois,
#zoning5 .quatre {
    height: 250px;
    width: 50%;
    float: left;
    line-height: 250px;
}

#zoning5 footer {
    height: 100px;
    background-color: orange;
    text-transform: uppercase;
}

.un,
.quatre {
    background-color: orange;
}

.deux,
.trois {
    background-color: rgb(189, 162, 112);
}